<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TaskManagerDB"
			 connectionString="Server=MSI\SQLEXPRESS;Database=TaskManagerDB;Integrated Security=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<add key="SmtpHost" value="sandbox.smtp.mailtrap.io"/>
		<add key="SmtpPort" value="587"/>
		<add key="SmtpUsername" value="d0f473da38bdd8"/>
		<add key="SmtpPassword" value="eec1f3b4d703c7"/>
		<add key="SmtpFromEmail" value="taskmanager@yourdomain.com"/>
		<add key="SmtpFromName" value="Task Manager System"/>
	</appSettings>
</configuration>